@model QuickChef1._0.Models.Factura

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.platilloID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.platilloID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoOrden)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.relativo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
