@model QuickChef1._0.Models.orden

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mesa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.platilloID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.platilloID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.relativo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
