@model IEnumerable<QuickChef1._0.Models.orden>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Órdenes Abiertas</h2>

<p>
    @Html.ActionLink("Nueva Orden", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.platilloID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mesa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.platilloID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.relativo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.relativo }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.relativo })
        </td>
    </tr>
}

</table>

<div align="right">
    <a href="/AdminHub" class="btn btn-success" role="button" aria-pressed="true">AdminHub</a>
    <a href="/Logout" class="btn btn-danger" role="button" aria-pressed="true">Logout</a>
</div>
