@model IEnumerable<QuickChef1._0.Models.Encuesta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ver Encuestas</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumMesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puntuacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumMesa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puntuacion)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id=item.EncuestaID }) |
        </td>
    </tr>
}

</table>
