@model QuickChef1._0.Models.menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>¿Está seguro que quiere borrar el platillo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Platillo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrePlatillo)
        </dd>

        <dt>
            <lable>Descripción</lable>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionPlatillo)
        </dd>

        <dt>
            <lable>Porciones</lable>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcionesPlatillo)
        </dd>

        <dt>
            <lable>Precio</lable>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioPlatillo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")  
        </div>
    }
</div>
