@model QuickChef1._0.Models.menu

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string espacio = "        ";
}

<h2>Editar Platillo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.platilloID)

<div class="form-group">
    
    <!--Html.LabelFor(model => model.nombrePlatillo, htmlAttributes: new { class = "control-label col-md-2" })-->
    <div class="col-md-10">
        <label>Platillo</label>      
        @Html.EditorFor(model => model.nombrePlatillo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.nombrePlatillo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <!--Html.LabelFor(model => model.descripcionPlatillo, htmlAttributes: new { class = "control-label col-md-2" })-->
    <div class="col-md-10">
        <label>Descripción</label>
        @Html.EditorFor(model => model.descripcionPlatillo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.descripcionPlatillo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <!--Html.LabelFor(model => model.porcionesPlatillo, htmlAttributes: new { class = "control-label col-md-2" })-->
    <div class="col-md-10">
        <label>Porciones</label>
        @Html.EditorFor(model => model.porcionesPlatillo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.porcionesPlatillo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <!--Html.LabelFor(model => model.precioPlatillo, htmlAttributes: new { class = "control-label col-md-2" })-->
    <div class="col-md-10">
        <label>Precio</label>
        @Html.EditorFor(model => model.precioPlatillo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.precioPlatillo, "", new { @class = "text-danger" })
    </div>
</div>

    <div class="form-group">

        <div class="form-horizontal  no-color">
            <input type="submit" value="Guardar" class="btn btn-default" />  |
            @Html.ActionLink("Regresar", "Index")
        </div>
    </div>
</div>
}
