@model IEnumerable<QuickChef1._0.Models.inventario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventario de Productos</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Producto</p>
            <!--Html.DisplayNameFor(model => model.nombreProducto)-->
        </th>
        <th>
            <p>Cantidad</p>
            <!--Html.DisplayNameFor(model => model.cantidadProducto)-->
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadProducto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.productoID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.productoID }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.productoID })
        </td>
    </tr>
}

</table>
<div align="right">
    <a href="/AdminHub" class="btn btn-success" role="button" aria-pressed="true">AdminHub</a>
    <a href="/Logout" class="btn btn-danger" role="button" aria-pressed="true">Logout</a>
</div>
